pip>=23.0.0
setuptools>=65.0.0
numpy>=1.26.4
pandas>=2.2.3
scikit-learn>=1.5.1
matplotlib>=3.9.3

nltk>=3.9.1
joblib>=1.2.0
seaborn>=0.13.2

python-dotenv>=1.0.0


streamlit
tensorflow==2.15.0   # or 2.16.0 / 2.17.0 — 2.15 is very stable
